.form-cart-window {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #282828;
  color: #ddc7a1;
  box-sizing: border-box;
  padding: 12px 0;
  border-radius: 8px;
  gap: 12px;

  p {
    text-wrap: nowrap;
    margin: 0;
  }
}
